/* css reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* generics */
body{
    font-family: "roboto", sans-serif;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
}

a{
    text-decoration: none;
    color: #3581d0;
}

/* header */
.albums-header{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    height: 125px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}

.albums-header-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.albums-header-right{
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 30px;
}

#add-pictures{
    font-size: 2rem;
}

/* albums section */
.albums-section{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.album-box{
    max-width: calc((1080px - 20px) / 6 - 20px);
    margin: 5px 10px;
}

.album-thumb{
    width: 100%;
}

.album-bottom *{
    line-height: 25px;
}

.album-name{
    font-size: .9rem;
    font-weight: normal;
}

.album-photo-qty{
    font-size: .8rem;
    color: gray;
}